<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UniversalGametypeEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UniversalGametypeEditor.Properties.Settings>
            <setting name="ConvertBin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>Undefined</value>
            </setting>
            <setting name="HotReloadPath" serializeAs="String">
                <value>Undefined</value>
            </setting>
            <setting name="GameIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>Undefined</value>
            </setting>
            <setting name="PlayBeep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameDir" serializeAs="String">
                <value>Undefined</value>
            </setting>
            <setting name="SwitchWatched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TutorialFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepNamedMglo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrderBy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberSetting" serializeAs="String">
                <value>Player</value>
            </setting>
            <setting name="FreezeValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WriteDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScriptsPath" serializeAs="String">
                <value>Undefined</value>
            </setting>
        </UniversalGametypeEditor.Properties.Settings>
    </userSettings>
</configuration>